.btn {
    padding: 12px 0 10px;
    display: flex;
    width: 100%;
    border-radius: 25px;
    background-color: rgb(190, 200, 244);
    justify-content: center;
}

.btn:hover {
    background-color: rgb(88, 110, 205);
    color: #fff;
}

.btn:not(:last-of-type) {
    margin-right: 20px;
}