.products {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    row-gap: 15px;
    font-size: 15px;
}

.item {
    display: grid;
    grid-template-columns: 80px 1.5fr min-content 1fr;
    column-gap: 20px;
    border-radius: 15px;
    padding: 20px;
    background-color: #d3cdf94d;
    justify-items: center;
    align-items: center;
    padding: 5px 10px;
    box-shadow: 0px 0px 10px 1px hsl(245deg, 76%, 97%);
    @media (max-width: 478px) {
        grid-template-columns: 1.5fr 0.5fr 1fr;
        grid-template-areas: "img count total" "info count total";
        row-gap: 10px;
        column-gap: 10px;
    }
}

.itemInfo {
    justify-self: start;
}

.itemInfo p {
    margin: 5px 0;
    font-size: 14px;
}

.itemInfo h3 {
    margin-bottom: 5px 0;
    font-size: 16px;
    @media (max-width: 478px) {
        font-size: 14px;
    }
}

.itemName {
    margin: 0;
    @media (max-width: 478px) {
        grid-area: name;
    }
}

.itemArticul {
    margin: 0;
    grid-area: articul;
    color: rgb(171, 171, 171);
}
.img {
    width: 80px;
    height: 80px;
    border-radius: 15px;
    @media (max-width: 478px) {
        grid-area: img;
        justify-self: left;
    }
}

.quantity,
.total {
    @media (max-width: 478px) {
        font-size: 14px;
    }
}
.quantity {
    @media (max-width: 478px) {
        grid-area: count;
    }
}
.total {
    @media (max-width: 478px) {
        grid-area: total;
    }
}
