.item {
    display: grid;
    grid-template-columns: 120px 1.5fr repeat(3, 1fr) 50px;
    column-gap: 2%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px hsl(0deg, 0%, 82%, 49%);
    min-height: 80px;
    padding: 15px;
    align-items: center;
    text-align: center;

    @media (max-width: 725px) {
        grid-template-columns: 120px 2fr 50px;
        grid-template-areas: "img info deleteBtn" "count totalPrice totalPrice";
    }
    @media (max-width: 450px) {
        grid-template-columns: 80px 1fr 1fr 0.1fr;
        column-gap: 3%;
        grid-template-areas: "img info info deleteBtn" "count count totalPrice totalPrice";
    }
}

.img {
    width: 110px;
    max-width: 100%;
    height: 110px;
    object-fit: cover;
    align-self: center;
    justify-self: center;
    border-radius: 15px;
    display: block;
    @media (max-width: 725px) {
        grid-area: img;
        margin-bottom: 20px;
    }
    @media (max-width: 450px) {
        width: 80px;
        height: 80px;
    }
}

.itemTitle {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    @media (max-width: 450px) {
        font-size: 14px;
    }
}

.color,
.articul,
.priceOne {
    color: #686868;
}

.color {
    margin-bottom: 10px;
}

.price {
    font-weight: 500;
    @media (max-width: 725px) {
        margin-top: 0;
        display: none;
    }
}

.total {
    @media (max-width: 725px) {
        grid-area: totalPrice;
        justify-self: right;
    }
}
.deleteItemBtn {
    width: 30px;
    height: 30px;
    padding: 0;
    justify-self: center;
    @media (max-width: 725px) {
        grid-area: deleteBtn;
    }

    &:hover path {
        transition: 0.5s;
        stroke: rgb(245, 66, 66);
    }
}

.trashIcon {
    width: 25px;
    height: 25px;
    object-fit: contain;
    transition: 0.5s;
}

.quantity {
    @media (max-width: 725px) {
        grid-area: count;
    }
    @media (max-width: 450px) {
        justify-self: start;
    }
}
.quantityBtn {
    width: 30px;
    height: 30px;
    background-color: rgb(190, 200, 244);
    border-radius: 50%;
    &:hover {
        background-color: rgb(88, 110, 205);
        color: #fff;
    }
}

.decrement {
    margin-right: 10px;
}

.increment {
    margin-left: 10px;
}

.itemInfo {
    text-align: left;
    @media (max-width: 725px) {
        grid-area: info;
    }
    @media (max-width: 450px) {
        font-size: 14px;
    }
}
