.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.cartInner {
    display: grid;
    grid-template-columns: 2.2fr 1fr;
    grid-template-areas: 'listTitles orderTotal' 'list orderTotal' 'orderForm orderTotal';
    column-gap: 100px;
}

.cartTitle {
    margin-bottom: 40px;
    font-family: "Alumatica", sans-serif;
    color: #667ad1;
    font-weight: 700;
    font-size: 20px;
}

.listTitles {
    grid-area: listTitles;
    display: grid;
    grid-template-columns: 120px  1.5fr repeat(3, 1fr) 50px;
    text-align: center;
    column-gap: 3%;
    justify-content: space-between;
    margin-bottom: 50px;
    border-bottom: 1px solid #586ece26;
    padding-bottom: 30px;
}

.cartSection {
    padding: 30px 0;
}

.noItemsTitle {
    font-weight: 500;
    font-family: "Alumatica", sans-serif;
    font-size: 20px;
    color: #667ad1;
}