.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.cartTitle {
    margin-bottom: 40px;
}

.listTitles {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
}