.appInner {
    background-color: #fff;
    border-radius: 30px;
    min-height: 250px;
    width: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 30px;
}

.btnBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}