.disableScroll {
    overflow: hidden;
}

.appInner {
    min-height: 250px;
    position: relative;
    padding: 30px;
}

.btnBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}