.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navList {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    font-family: "Alumatica", sans-serif;
}

.logo {
    width: auto;
    height: 60px;
}

.item {
    color: inherit;
    font-weight: 500;
}

.item a {
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.3s;
    position: relative;
}

.item a::before {}

.item:not(:last-child) {
    margin-right: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 10px 1px hsl(0deg, 0%, 82%, 49%);
}

.active {
    color: rgb(88, 110, 205);
    position: relative;
    transition: 0.3s;
}

.active::before {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: rgb(88, 110, 205);
    content: "";
    animation: line .3s forwards;
    /* animation-fill-mode:  */
}

@keyframes line {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}