.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    column-gap: 30px;
    row-gap: 40px;
    justify-items: center;
    padding-left: 0;
    margin: 40px 0 40px;
    list-style: none;
    justify-content: center;

    @media (max-width: 550px) {
        justify-content: center;
    }
}
