@font-face {
    font-family: 'Alumatica';
    src: local('Alumatica'), url(./fonts/Alumatica-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Geometris';
    src: local('Geometris'), url(./fonts/GeometrisRound-Regular.woff2) format('woff2');
}

body {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    position: relative;
    /* font-family: 'Geometris', sans-serif; */
    /* font-family: "Alumatica", sans-serif; */
}

#root {
    margin: 0 auto;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
    font-size: inherit;
    font-family: inherit;
}

h2 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}