body {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    position: relative;
}

#root {
    margin: 0 auto;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
    font-size: inherit;
    font-family: inherit;
}

h2 {
    margin: 0;
    padding: 0;
}
